
 header start 
<header class="section-t-space">
<div class="custom-container">
<div class="header-panel">
<a href="/cart">
<i class="iconsax back-btn" data-icon="arrow-left"></i>
</a>
<h3>Checkout</h3>
<a href="/wishlist">
<i class="iconsax icons" data-icon="heart"></i>
</a>
</div>
</div>
</header>
 header end 
 shipping address section start 
<section>
<div class="custom-container">
<div class="address-section">
<h2>Shipping Address</h2>
<div class="shipping-address p-3 mt-3">
<div class="address-icon">
<img alt="location" class="icon" src="/assets/images/svg/location-white.svg"/>
</div>
<div class="address-details">
<div class="d-block w-75">
<h2>Home</h2>
<h4 class="light-text fw-medium">790 Hyde Park Rd, Ontario</h4>
</div>
</div>
</div>
</div>
</div>
</section>
 shipping address section end 
 checkout section start 
<section>
<div class="custom-container">
<ul class="horizontal-product-list">
<li class="cart-product-box">
<div class="horizontal-product-box">
<div class="horizontal-product-img">
<img alt="p11" class="img-fluid img" src="/assets/images/product/11.png"/>
</div>
<div class="horizontal-product-details">
<div class="d-flex align-items-center justify-content-between">
<h4>Lounge Chair</h4>
<i class="iconsax trash" data-icon="trash"></i>
</div>
<ul class="product-info">
<li>Qty : 1</li>
<li><span class="product-color color1"></span>Blue</li>
</ul>
<div class="d-flex align-items-center justify-content-between mt-3">
<div class="d-flex align-items-center gap-2">
<h3 class="fw-semibold">$130 <del class="light-text fw-normal">$160</del></h3>
</div>
<div class="plus-minus">
<button class="sub plus-minus-button">
<i class="iconsax" data-icon="minus"></i>
</button>
<input max="10" min="1" type="number" value="1"/>
<button class="add plus-minus-button">
<i class="iconsax" data-icon="add"></i>
</button>
</div>
</div>
</div>
</div>
</li>
<li class="cart-product-box">
<div class="horizontal-product-box">
<div class="horizontal-product-img">
<img alt="p13" class="img-fluid img" src="/assets/images/product/13.png"/>
</div>
<div class="horizontal-product-details">
<div class="d-flex align-items-center justify-content-between">
<h4>Hanging Light</h4>
<i class="iconsax trash" data-icon="trash"></i>
</div>
<ul class="product-info">
<li>Qty : 1</li>
<li><span class="product-color color2"></span>Black</li>
</ul>
<div class="d-flex align-items-center justify-content-between mt-3">
<div class="d-flex align-items-center gap-2">
<h3 class="fw-semibold">$30 <del class="light-text fw-normal">$60</del></h3>
</div>
<div class="plus-minus">
<button class="sub plus-minus-button">
<i class="iconsax" data-icon="minus"></i>
</button>
<input max="10" min="1" type="number" value="1"/>
<button class="add plus-minus-button">
<i class="iconsax" data-icon="add"></i>
</button>
</div>
</div>
</div>
</div>
</li>
<li class="cart-product-box">
<div class="horizontal-product-box">
<div class="horizontal-product-img">
<img alt="p7" class="img-fluid img" src="/assets/images/product/7.png"/>
</div>
<div class="horizontal-product-details">
<div class="d-flex align-items-center justify-content-between">
<h4>Side Table</h4>
<i class="iconsax trash" data-icon="trash"></i>
</div>
<ul class="product-info">
<li>Qty : 1</li>
<li><span class="product-color color3"></span>Brown</li>
</ul>
<div class="d-flex align-items-center justify-content-between mt-3">
<div class="d-flex align-items-center gap-2">
<h3 class="fw-semibold">$50 <del class="light-text fw-normal">$80</del></h3>
</div>
<div class="plus-minus">
<button class="sub plus-minus-button">
<i class="iconsax" data-icon="minus"></i>
</button>
<input max="10" min="1" type="number" value="1"/>
<button class="add plus-minus-button">
<i class="iconsax" data-icon="add"></i>
</button>
</div>
</div>
</div>
</div>
</li>
</ul>
</div>
</section>
 checkout section end 
 shipping section start 
<section class="">
<div class="custom-container">
<div class="shipping-section">
<h2>Choose Shipping</h2>
<a class="shipping-type p-3 mt-3" href="/shipping">
<div class="d-flex align-items-center gap-2">
<i class="iconsax icon" data-icon="truck-fast"></i>
<h4>Choose Shipping Type</h4>
</div>
<i class="iconsax icon" data-icon="chevron-right"></i>
</a>
</div>
</div>
</section>
 shipping section end 
 coupon section start 
<section>
<div class="custom-container">
<div class="apply-coupon">
<h2 class="theme-color">apply Coupon</h2>
<a class="coupon-code" href="/coupon">
<div>
<h6>#GOOGLE20</h6>
</div>
<i class="iconsax icon" data-icon="chevron-right"></i>
</a>
</div>
</div>
</section>
 coupon section end 
 billing section start 
<section class="bill-details section-b-space">
<div class="custom-container">
<div class="total-detail">
<div class="sub-total d-flex justify-content-between">
<h5 class="light-text">Sub Total</h5>
<h4 class="fw-medium">$210</h4>
</div>
<div class="sub-total mt-3 d-flex justify-content-between">
<h5 class="light-text">Shipping charge</h5>
<h4 class="fw-medium">$20.00</h4>
</div>
<div class="sub-total mt-3 mb-3 d-flex justify-content-between">
<h5 class="fw-medium light-text">Discount (10%)</h5>
<h4 class="fw-medium">$0.00</h4>
</div>
<div class="grand-total pt-3 d-flex justify-content-between">
<h5 class="fw-medium">Grand Total</h5>
<h4 class="fw-semibold amount">$230</h4>
</div>
</div>
<a class="btn theme-btn w-100" href="/shipping-address">Continue to Payment</a>
</div>
</section>
 billing section start 
 iconsax js 

 bootstrap js 

 script js 

