
 header start 
<header class="section-t-space">
<div class="custom-container">
<div class="header-panel">
<a href="/checkout">
<i class="iconsax back-btn" data-icon="arrow-left"></i>
</a>
<h3>Coupons</h3>
</div>
</div>
</header>
 header end 
 coupon section start 
<section class="section-b-space">
<div class="custom-container">
<div class="row gy-3">
<div class="col-12">
<div class="coupon-box">
<div class="coupon-discount"><span>60% </span> OFF</div>
<div class="coupon-details">
<h4 class="fw-semibold theme-color">Google Pay</h4>
<p>Buy 1 phone and get 10% off on second phone.</p>
<div class="coupon-apply">
<h6 class="light-text">#GOOGLE20</h6>
<a class="apply-btn theme-color fw-semibold" href="/checkout">apply</a>
</div>
</div>
<img alt="subtract" class="img-fluid coupon-right" src="/assets/images/subtract.png"/>
</div>
</div>
<div class="col-12">
<div class="coupon-box">
<div class="coupon-discount"><span>60% </span> OFF</div>
<div class="coupon-details">
<h4 class="fw-semibold theme-color">Google Pay</h4>
<p>Buy 1 phone and get 10% off on second phone.</p>
<div class="coupon-apply">
<h6 class="light-text">#GOOGLE20</h6>
<a class="apply-btn theme-color fw-semibold" href="/checkout">apply</a>
</div>
</div>
<img alt="subtract" class="img-fluid coupon-right" src="/assets/images/subtract.png"/>
</div>
</div>
<div class="col-12">
<div class="coupon-box">
<div class="coupon-discount"><span>60% </span> OFF</div>
<div class="coupon-details">
<h4 class="fw-semibold theme-color">Google Pay</h4>
<p>Buy 1 phone and get 10% off on second phone.</p>
<div class="coupon-apply">
<h6 class="light-text">#GOOGLE20</h6>
<a class="apply-btn theme-color fw-semibold" href="/checkout">apply</a>
</div>
</div>
<img alt="subtract" class="img-fluid coupon-right" src="/assets/images/subtract.png"/>
</div>
</div>
<div class="col-12">
<div class="coupon-box">
<div class="coupon-discount"><span>60% </span> OFF</div>
<div class="coupon-details">
<h4 class="fw-semibold theme-color">Google Pay</h4>
<p>Buy 1 phone and get 10% off on second phone.</p>
<div class="coupon-apply">
<h6 class="light-text">#GOOGLE20</h6>
<a class="apply-btn theme-color fw-semibold" href="/checkout">apply</a>
</div>
</div>
<img alt="subtract" class="img-fluid coupon-right" src="/assets/images/subtract.png"/>
</div>
</div>
<div class="col-12">
<div class="coupon-box">
<div class="coupon-discount"><span>60% </span> OFF</div>
<div class="coupon-details">
<h4 class="fw-semibold theme-color">Google Pay</h4>
<p>Buy 1 phone and get 10% off on second phone.</p>
<div class="coupon-apply">
<h6 class="light-text">#GOOGLE20</h6>
<a class="apply-btn theme-color fw-semibold" href="/checkout">apply</a>
</div>
</div>
<img alt="subtract" class="img-fluid coupon-right" src="/assets/images/subtract.png"/>
</div>
</div>
</div>
</div>
</section>
 coupon section start 
 iconsax js 

 bootstrap js 

 script js 

