
 create account section start 
<div class="auth-img">
<img alt="auth_bg" class="img-fluid auth-bg" src="/assets/images/background/auth_bg.jpg"/>
<div class="auth-content">
<div>
<h2>Let’s you in</h2>
<h4 class="p-0">Hey, You have been missed!</h4>
</div>
</div>
</div>
<form class="auth-form" target="_blank">
<div class="custom-container">
<div class="form-group">
<label class="form-label" for="inputusername">Email id</label>
<div class="form-input mb-4">
<input class="form-control" id="inputusername" placeholder="Enter Your Name" type="text"/>
<i class="iconsax icons" data-icon="user-1"></i>
</div>
</div>
<div class="form-group">
<label class="form-label" for="inputemail">Email id</label>
<div class="form-input mb-4">
<input class="form-control" id="inputemail" placeholder="Enter Your Email" type="email"/>
<i class="iconsax icons" data-icon="mail"></i>
</div>
</div>
<div class="form-group">
<label class="form-label" for="inputPassword">Password</label>
<div class="form-input">
<input class="form-control" id="inputPassword" placeholder="Enter Your Password" type="password"/>
<i class="iconsax icons" data-icon="key"></i>
</div>
</div>
<div class="submit-btn">
<a class="btn auth-btn w-100" href="/login">Sign UP</a>
</div>
<div class="division">
<span>OR</span>
</div>
<h4 class="signup pt-0">Already have an account ?<a href="/login"> Sign in</a></h4>
</div>
</form>
 create account section end
 iconsax js 

 bootstrap js 

 script js 

