
 header start 
<header class="section-t-space">
<div class="custom-container">
<div class="header-panel">
<a href="/landing">
<i class="iconsax back-btn" data-icon="arrow-left"></i>
</a>
<h3>My Cart</h3>
</div>
</div>
</header>
 header end 
 cart start 
<div class="custom-container">
<div class="empty-tab">
<img alt="empty-cart" class="img-fluid empty-img w-100" src="/assets/images/gif/cart.gif"/>
<h2>Your luggage is empty.</h2>
<h5 class="mt-3">Check out our top products to get the right one for you.</h5>
<a class="btn theme-btn w-100 mt-3 mb-3" href="/landing" role="button">Start Shopping</a>
</div>
</div>
 cart end 
 iconsax js 

 bootstrap js 

 script js 

