
 header start 
<header class="section-t-space">
<div class="custom-container">
<div class="header-panel">
<a href="/landing">
<i class="iconsax back-btn" data-icon="arrow-left"></i>
</a>
<h3>Wishlist</h3>
</div>
</div>
</header>
 header end 
 wishlist start 
<section class="section-b-space pt-0">
<div class="custom-container">
<div class="empty-tab">
<img alt="empty-wishlist" class="img-fluid empty-img img1 w-100" src="/assets/images/gif/wishlist.gif"/>
<h2>Your Wishlist is Empty!!</h2>
<h5 class="mt-3">If you haven't made any wishes yet, do so now for a better life.</h5>
<a class="btn theme-btn w-100 mt-5" href="/landing" role="button">Add Now</a>
</div>
</div>
</section>
 Notification end 
 iconsax js 

 bootstrap js 

 script js 

