
 header start 
<header class="section-t-space">
<div class="custom-container">
<div class="header-panel">
<a href="/landing">
<i class="iconsax back-btn" data-icon="arrow-left"></i>
</a>
<h3>Notification</h3>
</div>
</div>
</header>
 header end 
 Notification start 
<section class="section-b-space pt-0">
<div class="custom-container">
<div class="empty-tab">
<img alt="empty-bell" class="img-fluid empty-img w-100" src="/assets/images/gif/notifiction.gif"/>
<h2>No Notifications Found!!</h2>
<h5 class="mt-3">You don’t have new notification right now. If we received anything we will notify you.</h5>
<a class="btn theme-btn w-100 mt-5" href="/notification" role="button">Refresh</a>
</div>
</div>
</section>
 Notification end 
 iconsax js 

 bootstrap js 

 script js 

