
 header start 
<header class="section-t-space">
<div class="custom-container">
<div class="header-panel">
<a href="/landing">
<i class="iconsax back-btn" data-icon="arrow-left"></i>
</a>
<h3>Order History</h3>
</div>
</div>
</header>
 header end 
 order history start 
<section class="section-b-space pt-0">
<div class="custom-container">
<div class="empty-tab">
<img alt="empty-order" class="img-fluid empty-img w-100" src="/assets/images/gif/order.gif"/>
<h2>No Order Available</h2>
<h5 class="mt-3">If you haven't made any order yet, do so now for a better life.</h5>
</div>
</div>
</section>
 order history end 
 iconsax js 

 bootstrap js 

 script js 

