
 forgot password section start 
<div class="auth-img">
<img alt="auth_bg" class="img-fluid auth-bg" src="/assets/images/background/auth_bg.jpg"/>
<div class="auth-content">
<div>
<h2>Forgot Password?</h2>
</div>
</div>
</div>
<form class="auth-form" target="_blank">
<div class="custom-container">
<div class="form-group">
<label class="form-label" for="inputusername">Email id</label>
<div class="form-input mb-4">
<input class="form-control" id="inputusername" placeholder="Enter Your Email" type="text"/>
<i class="iconsax icons" data-icon="mail"></i>
</div>
</div>
<div class="submit-btn">
<a class="btn auth-btn w-100" href="/otp">Send OTP</a>
</div>
</div>
</form>
 forgot password section end
 iconsax js 

 bootstrap js 

 script js 

