
<section class="section-b-space">
<div class="swiper intro slider-1">
<div class="swiper-wrapper">
<div class="swiper-slide">
<div class="theme-logo pb-3">
<img alt="logo" class="img-fluid logo-img" src="/assets/images/logo/logo.png"/>
</div>
<div class="onboarding-design">
<img alt="bg-design" class="img-fluid design-img" src="/assets/images/onboarding/design1.png"/>
<img alt="slider-1" class="img-fluid slider-img1" src="/assets/images/onboarding/1.png"/>
<img alt="v1" class="img-fluid vector1" src="/assets/images/onboarding/vector1.png"/>
<img alt="v2" class="img-fluid vector2" src="/assets/images/onboarding/vector2.png"/>
<img alt="v3" class="img-fluid vector3" src="/assets/images/onboarding/vector3.png"/>
</div>
<div class="product-details">
<h1>Office Furniture</h1>
<span></span>
<p>The best payment method connects your money to friends, family, brands, and experiences.</p>
<div class="redirate-btn">
<a class="next-arrow" href="/login">
<i class="iconsax right-arrow" data-icon="arrow-right"></i>
</a>
</div>
</div>
</div>
<div class="swiper-slide">
<div class="theme-logo pb-3">
<img alt="logo" class="img-fluid logo-img" src="/assets/images/logo/logo.png"/>
</div>
<div class="onboarding-design">
<img alt="bg-design" class="img-fluid design-img" src="/assets/images/onboarding/design1.png"/>
<img alt="slider-2" class="img-fluid slider-img2" src="/assets/images/onboarding/2.png"/>
<img alt="v1" class="img-fluid vector1" src="/assets/images/onboarding/vector1.png"/>
<img alt="v2" class="img-fluid vector2" src="/assets/images/onboarding/vector2.png"/>
<img alt="v3" class="img-fluid vector3" src="/assets/images/onboarding/vector3.png"/>
</div>
<div class="product-details">
<h1>Relaxing Furniture</h1>
<span></span>
<p>The best payment method connects your money to friends, family, brands, and experiences.</p>
<div class="redirate-btn">
<a class="next-arrow" href="/login">
<i class="iconsax right-arrow" data-icon="arrow-right"></i>
</a>
</div>
</div>
</div>
<div class="swiper-slide">
<div class="theme-logo pb-3">
<img alt="logo" class="img-fluid logo-img" src="/assets/images/logo/logo.png"/>
</div>
<div class="onboarding-design">
<img alt="bg-design" class="img-fluid design-img" src="/assets/images/onboarding/design1.png"/>
<img alt="slider-3" class="img-fluid slider-img3" src="/assets/images/onboarding/3.png"/>
<img alt="v1" class="img-fluid vector1" src="/assets/images/onboarding/vector1.png"/>
<img alt="v2" class="img-fluid vector2" src="/assets/images/onboarding/vector2.png"/>
<img alt="v3" class="img-fluid vector3" src="/assets/images/onboarding/vector3.png"/>
<div class="product-details">
<h1>Home Decor</h1>
<span></span>
<p>The best payment method connects your money to friends, family, brands, and experiences.</p>
<div class="redirate-btn">
<a class="next-arrow" href="/login">
<i class="iconsax right-arrow" data-icon="arrow-right"></i>
</a>
</div>
</div>
</div>
</div>
</div>
</div>
</section>
<div class="offcanvas offcanvas-bottom addtohome-popup theme-offcanvas" id="offcanvas" tabindex="-1">
<button aria-label="Close" class="btn-close text-reset" data-bs-dismiss="offcanvas" type="button"></button>
<div class="offcanvas-body small">
<div class="app-info">
<img alt="" class="img-fluid" src="/assets/images/logo/48.png"/>
<div class="content">
<h4>fuzzy app</h4>
<a href="#">www.fuzzy-app.com</a>
</div>
</div>
<a class="btn theme-btn install-app btn-inline home-screen-btn m-0" href="#!" id="installapp">Add to Home Screen</a>
</div>
</div>
