
 side bar start 
<div class="offcanvas sidebar-offcanvas offcanvas-start" id="offcanvasLeft" tabindex="-1">
<div class="offcanvas-header">
<img alt="profile" class="img-fluid profile-pic" src="/assets/images/icons/profile.png"/>
<h4>Hello, Agasya!</h4>
<button aria-label="Close" class="btn-close" data-bs-dismiss="offcanvas" type="button"></button>
</div>
<div class="offcanvas-body">
<div class="sidebar-content">
<ul class="link-section">
<li>
<div class="pages">
<h4>RTL</h4>
<div class="switch-btn">
<input id="dir-switch" type="checkbox"/>
</div>
</div>
</li>
<li>
<div class="pages">
<h4>Dark</h4>
<div class="switch-btn">
<input id="dark-switch" type="checkbox"/>
</div>
</div>
</li>
<li>
<a class="pages" href="/page-listing">
<h4>Pages List</h4>
<i class="ri-arrow-drop-right-line"></i>
</a>
</li>
<li>
<a class="pages" href="/setting">
<h4>Setting</h4>
<i class="ri-arrow-drop-right-line"></i>
</a>
</li>
<li>
<a class="pages" href="/login">
<h4>Logout</h4>
<i class="ri-arrow-drop-right-line"></i>
</a>
</li>
</ul>
</div>
</div>
</div>
 side bar end 
 header start 
<header class="section-t-space">
<div class="custom-container">
<div class="header">
<div class="head-content">
<button class="sidebar-btn" data-bs-target="#offcanvasLeft" data-bs-toggle="offcanvas" type="button">
<i class="iconsax menu-icon" data-icon="menu-hamburger"></i>
</button>
<div class="header-info">
<img alt="profile" class="img-fluid profile-pic" src="/assets/images/icons/profile.png"/>
<div>
<h4 class="light-text">Hello</h4>
<h2 class="theme-color">Agasya!</h2>
</div>
</div>
</div>
<a class="notification" href="/notification">
<i class="iconsax notification-icon" data-icon="bell-2"></i>
</a>
</div>
</div>
</header>
 header end 
 search section starts 
<section>
<div class="custom-container">
<form class="theme-form search-head" target="_blank">
<div class="form-group">
<div class="form-input">
<input class="form-control search" id="inputusername" placeholder="Search here..." type="text"/>
<i class="iconsax search-icon" data-icon="search-normal-2"></i>
</div>
<a class="btn filter-btn mt-0" data-bs-toggle="modal" href="#search-filter">
<i class="iconsax filter-icon" data-icon="media-sliders-3"></i>
</a>
</div>
</form>
</div>
</section>
 search section end 
 banner section start 
<section class="banner-wapper">
<div class="custom-container">
<div class="banner-bg">
<img alt="banner-1" class="img-fluid img-bg w-100" src="/assets/images/banner/banner-1.jpg"/>
<div class="banner-content">
<h2 class="fw-semibold">Best Selling</h2>
<h4>Comforts &amp; Modern life Stylish Sofa</h4>
</div>
<a class="more-btn" href="/shop">
<h4>View More</h4>
<i class="iconsax right-arrow" data-icon="arrow-right"></i>
</a>
</div>
</div>
</section>
 banner section start 
 categories section start 
<section>
<div class="custom-container">
<div class="swiper categories">
<div class="swiper-wrapper ratio_square">
<div class="swiper-slide">
<a class="categories-item active" href="#">
<img alt="sofa" class="categories-img" src="/assets/images/svg/sofa.svg"/>
<h4>Sofa</h4>
</a>
</div>
<div class="swiper-slide">
<a class="categories-item" href="/shop">
<h4>Chair</h4>
</a>
</div>
<div class="swiper-slide">
<a class="categories-item" href="/shop">
<h4>Table</h4>
</a>
</div>
<div class="swiper-slide">
<a class="categories-item" href="/shop">
<h4>Cabinets</h4>
</a>
</div>
<div class="swiper-slide">
<a class="categories-item" href="/shop">
<h4>Cupboard</h4>
</a>
</div>
<div class="swiper-slide">
<a class="categories-item" href="/shop">
<h4>Lamp</h4>
</a>
</div>
</div>
</div>
</div>
</section>
 categories section end 
 New Arrivals section start 
<section class="section-t-space">
<div class="custom-container">
<div class="title">
<h2>New Arrivals</h2>
<a href="/shop">View All</a>
</div>
<div class="row g-3">
<div class="col-6">
<div class="product-box">
<div class="product-box-img">
<a href="/shop"><img alt="p1" class="img" src="/assets/images/product/1.png"/></a>
<div class="cart-box">
<a class="cart-bag" href="/cart">
<i class="iconsax bag" data-icon="basket-2"></i>
</a>
</div>
</div>
<div class="like-btn animate active inactive">
<img alt="like" class="outline-icon" src="/assets/images/svg/like.svg"/>
<img alt="like" class="fill-icon" src="/assets/images/svg/like-fill.svg"/>
<div class="effect-group">
<span class="effect"></span>
<span class="effect"></span>
<span class="effect"></span>
<span class="effect"></span>
<span class="effect"></span>
</div>
</div>
<div class="product-box-detail">
<h4>Buddy Chair</h4>
<h5>Modern saddle arms</h5>
<div class="bottom-panel">
<div class="price">
<h4>$14 <del class="pev-price">$20</del></h4>
</div>
<div class="rating">
<img alt="star" src="/assets/images/svg/Star.svg"/>
<h6>4.5</h6>
</div>
</div>
</div>
</div>
</div>
<div class="col-6">
<div class="product-box">
<div class="product-box-img">
<a href="/shop">
<img alt="p2" class="img" src="/assets/images/product/2.png"/>
</a>
<div class="cart-box">
<a class="cart-bag" href="/cart">
<i class="iconsax bag" data-icon="basket-2"></i>
</a>
</div>
</div>
<div class="like-btn animate inactive">
<img alt="like" class="outline-icon" src="/assets/images/svg/like.svg"/>
<img alt="like" class="fill-icon" src="/assets/images/svg/like-fill.svg"/>
<div class="effect-group">
<span class="effect"></span>
<span class="effect"></span>
<span class="effect"></span>
<span class="effect"></span>
<span class="effect"></span>
</div>
</div>
<div class="product-box-detail">
<h4>Wingback Chair</h4>
<h5>Modern saddle arms</h5>
<div class="bottom-panel">
<div class="price">
<h4>$14 <del class="pev-price">$20</del></h4>
</div>
<div class="rating">
<img alt="star" src="/assets/images/svg/Star.svg"/>
<h6>4.5</h6>
</div>
</div>
</div>
</div>
</div>
</div>
</div>
</section>
 New Arrivals section end 
 Trending Furniture section start 
<section class="section-t-space">
<div class="custom-container">
<div class="title">
<h2>Trending Furniture</h2>
<a href="/product-details">View All</a>
</div>
<div class="row g-3">
<div class="col-12">
<div class="horizontal-product-box">
<a class="horizontal-product-img" href="/product-details">
<img alt="p3" class="img-fluid img" src="/assets/images/product/3.png"/>
</a>
<div class="horizontal-product-details">
<div class="d-flex align-items-center justify-content-between">
<h4>Wingback Chair</h4>
<div class="rating d-flex align-items-center">
<img alt="star" src="/assets/images/svg/Star.svg"/>
<h6 class="theme-color fw-normal">4.5</h6>
</div>
</div>
<h5>Modern arms chairs</h5>
<div class="d-flex align-items-center justify-content-between mt-1">
<div class="d-flex align-items-center gap-2">
<h3 class="fw-semibold">$25</h3>
<h6 class="save">Save $10</h6>
</div>
<a class="cart-bag" href="/cart">
<i class="iconsax bag" data-icon="basket-2"></i>
</a>
</div>
</div>
</div>
</div>
<div class="col-12">
<div class="horizontal-product-box">
<a class="horizontal-product-img" href="/product-details">
<img alt="p4" class="img-fluid img" src="/assets/images/product/4.png"/>
</a>
<div class="horizontal-product-details">
<div class="d-flex align-items-center justify-content-between">
<h4>Mid Century Sofa</h4>
<div class="rating d-flex align-items-center">
<img alt="star" src="/assets/images/svg/Star.svg"/>
<h6 class="theme-color fw-normal">4.5</h6>
</div>
</div>
<h5>Modern arms Sofa</h5>
<div class="d-flex align-items-center justify-content-between mt-1">
<div class="d-flex align-items-center gap-2">
<h3 class="fw-semibold">$999</h3>
</div>
<a class="cart-bag" href="/cart">
<i class="iconsax bag" data-icon="basket-2"></i>
</a>
</div>
</div>
</div>
</div>
<div class="col-12">
<div class="horizontal-product-box">
<a class="horizontal-product-img" href="/product-details">
<img alt="p5" class="img-fluid img" src="/assets/images/product/5.png"/>
</a>
<div class="horizontal-product-details">
<div class="d-flex align-items-center justify-content-between">
<h4>Beige Chair</h4>
<div class="rating d-flex align-items-center">
<img alt="star" src="/assets/images/svg/Star.svg"/>
<h6 class="theme-color fw-normal">4.5</h6>
</div>
</div>
<h5>Modern arms chair</h5>
<div class="d-flex align-items-center justify-content-between mt-1">
<div class="d-flex align-items-center gap-2">
<h3 class="fw-semibold">$37</h3>
</div>
<a class="cart-bag" href="/cart">
<i class="iconsax bag" data-icon="basket-2"></i>
</a>
</div>
</div>
</div>
</div>
</div>
</div>
</section>
 Trending Furniture section end 
 banner section start 
<section class="banner-wapper">
<div class="custom-container">
<div class="banner-bg">
<img alt="banner-2" class="img-fluid img-bg" src="/assets/images/banner/banner-2.jpg"/>
<div class="banner-content">
<h2 class="fw-semibold">Best Selling</h2>
<h4>Comforts &amp; Modern life Stylish Sofa</h4>
</div>
<a class="more-btn" href="/shop">
<h4>View More</h4>
<i class="iconsax right-arrow" data-icon="arrow-right"></i>
</a>
</div>
</div>
</section>
 banner section end 
 offer section start 
<section class="offer-zone section-b-space pt-0">
<div class="custom-container">
<div class="title">
<h2>Offer Zone</h2>
<a href="/product-details">View All</a>
</div>
<div class="swiper offer">
<div class="swiper-wrapper">
<div class="swiper-slide">
<div class="horizontal-product-box">
<a class="horizontal-product-img" href="/product-details">
<img alt="p6" class="img-fluid img" src="/assets/images/product/6.png"/>
</a>
<div class="horizontal-product-details">
<div class="d-flex align-items-center justify-content-between">
<h4>Table Lamp</h4>
</div>
<h5>Bedroom Study Table Lamp</h5>
<div class="rating d-flex align-items-center gap-1 mt-1">
<img alt="star" src="/assets/images/svg/Star.svg"/>
<img alt="star" src="/assets/images/svg/Star.svg"/>
<img alt="star" src="/assets/images/svg/Star.svg"/>
<img alt="star" src="/assets/images/svg/Star.svg"/>
<img alt="star" src="/assets/images/svg/Star.svg"/>
</div>
<div class="d-flex align-items-center justify-content-between mt-1">
<div class="d-flex align-items-center gap-2">
<h3 class="fw-semibold">$37</h3>
</div>
<a class="cart-bag" href="/cart">
<i class="iconsax bag" data-icon="basket-2"></i>
</a>
</div>
</div>
</div>
<div class="horizontal-product-box mt-3">
<a class="horizontal-product-img" href="/product-details">
<img alt="p7" class="img-fluid img" src="/assets/images/product/7.png"/>
</a>
<div class="horizontal-product-details">
<div class="d-flex align-items-center justify-content-between">
<h4>Side Table</h4>
</div>
<h5>Solid wood console table</h5>
<div class="rating d-flex align-items-center gap-1 mt-1">
<img alt="star" src="/assets/images/svg/Star.svg"/>
<img alt="star" src="/assets/images/svg/Star.svg"/>
<img alt="star" src="/assets/images/svg/Star.svg"/>
<img alt="star" src="/assets/images/svg/Star.svg"/>
<img alt="star" src="/assets/images/svg/Star.svg"/>
</div>
<div class="d-flex align-items-center justify-content-between mt-1">
<div class="d-flex align-items-center gap-2">
<h3 class="fw-semibold">$37</h3>
</div>
<a class="cart-bag" href="/cart">
<i class="iconsax bag" data-icon="basket-2"></i>
</a>
</div>
</div>
</div>
</div>
<div class="swiper-slide">
<div class="horizontal-product-box">
<a class="horizontal-product-img" href="/product-details">
<img alt="p8" class="img-fluid img" src="/assets/images/product/8.png"/>
</a>
<div class="horizontal-product-details">
<div class="d-flex align-items-center justify-content-between">
<h4>Lounge Chair</h4>
</div>
<h5>Modern arms chair</h5>
<div class="rating d-flex align-items-center gap-1 mt-1">
<img alt="star" src="/assets/images/svg/Star.svg"/>
<img alt="star" src="/assets/images/svg/Star.svg"/>
<img alt="star" src="/assets/images/svg/Star.svg"/>
<img alt="star" src="/assets/images/svg/Star.svg"/>
<img alt="star" src="/assets/images/svg/Star.svg"/>
</div>
<div class="d-flex align-items-center justify-content-between mt-1">
<div class="d-flex align-items-center gap-2">
<h3 class="fw-semibold">$37</h3>
</div>
<a class="cart-bag" href="/cart">
<i class="iconsax bag" data-icon="basket-2"></i>
</a>
</div>
</div>
</div>
<div class="horizontal-product-box mt-3">
<a class="horizontal-product-img" href="/product-details">
<img alt="p9" class="img-fluid img" src="/assets/images/product/9.png"/>
</a>
<div class="horizontal-product-details">
<div class="d-flex align-items-center justify-content-between">
<h4>Swing Chair</h4>
</div>
<h5>Modern steel swing chair</h5>
<div class="rating d-flex align-items-center gap-1 mt-1">
<img alt="star" src="/assets/images/svg/Star.svg"/>
<img alt="star" src="/assets/images/svg/Star.svg"/>
<img alt="star" src="/assets/images/svg/Star.svg"/>
<img alt="star" src="/assets/images/svg/Star.svg"/>
<img alt="star" src="/assets/images/svg/Star.svg"/>
</div>
<div class="d-flex align-items-center justify-content-between mt-1">
<div class="d-flex align-items-center gap-2">
<h3 class="fw-semibold">$37</h3>
</div>
<a class="cart-bag" href="/cart">
<i class="iconsax bag" data-icon="basket-2"></i>
</a>
</div>
</div>
</div>
</div>
</div>
</div>
</div>
</section>
 offer section start 
 other furniture section start 
<section class="section-t-space">
<div class="custom-container">
<div class="title">
<h2>Furniture And Decor</h2>
<a href="/shop">View All</a>
</div>
<div class="row g-4">
<div class="col-6">
<div class="product-box">
<div class="product-box-img">
<a href="/shop"> <img alt="p10" class="img" src="/assets/images/product/10.png"/></a>
<div class="cart-box">
<a class="cart-bag" href="/cart">
<i class="iconsax bag" data-icon="basket-2"></i>
</a>
</div>
</div>
<div class="like-btn animate active inactive">
<img alt="like" class="outline-icon" src="/assets/images/svg/like.svg"/>
<img alt="like" class="fill-icon" src="/assets/images/svg/like-fill.svg"/>
<div class="effect-group">
<span class="effect"></span>
<span class="effect"></span>
<span class="effect"></span>
<span class="effect"></span>
<span class="effect"></span>
</div>
</div>
<div class="product-box-detail">
<h4>Bubble Swing Chair</h4>
<div class="d-flex justify-content-between gap-3">
<h5>Modern Swing Chair</h5>
<h3 class="fw-semibold">$120</h3>
</div>
</div>
</div>
</div>
<div class="col-6">
<div class="product-box">
<div class="product-box-img">
<a href="/shop"> <img alt="p11" class="img" src="/assets/images/product/11.png"/></a>
<div class="cart-box">
<a class="cart-bag" href="/cart">
<i class="iconsax bag" data-icon="basket-2"></i>
</a>
</div>
</div>
<div class="like-btn animate inactive">
<img alt="like" class="outline-icon" src="/assets/images/svg/like.svg"/>
<img alt="like" class="fill-icon" src="/assets/images/svg/like-fill.svg"/>
<div class="effect-group">
<span class="effect"></span>
<span class="effect"></span>
<span class="effect"></span>
<span class="effect"></span>
<span class="effect"></span>
</div>
</div>
<div class="product-box-detail">
<h4>Lounge Chair</h4>
<div class="d-flex justify-content-between gap-3">
<h5>Modern arms chair</h5>
<h3 class="fw-semibold">$120</h3>
</div>
</div>
</div>
</div>
<div class="col-6">
<div class="product-box">
<div class="product-box-img">
<a href="/shop"> <img alt="p12" class="img" src="/assets/images/product/12.png"/></a>
<div class="cart-box">
<a class="cart-bag" href="/cart">
<i class="iconsax bag" data-icon="basket-2"></i>
</a>
</div>
</div>
<div class="like-btn animate inactive">
<img alt="like" class="outline-icon" src="/assets/images/svg/like.svg"/>
<img alt="like" class="fill-icon" src="/assets/images/svg/like-fill.svg"/>
<div class="effect-group">
<span class="effect"></span>
<span class="effect"></span>
<span class="effect"></span>
<span class="effect"></span>
<span class="effect"></span>
</div>
</div>
<div class="product-box-detail">
<h4>Double Bed Sheet</h4>
<div class="d-flex justify-content-between gap-3">
<h5>Modern double bed sheet</h5>
<h3 class="fw-semibold">$120</h3>
</div>
</div>
</div>
</div>
<div class="col-6">
<div class="product-box">
<div class="product-box-img">
<a href="/shop"> <img alt="p13" class="img" src="/assets/images/product/13.png"/></a>
<div class="cart-box">
<a class="cart-bag" href="/cart">
<i class="iconsax bag" data-icon="basket-2"></i>
</a>
</div>
</div>
<div class="like-btn animate inactive">
<img alt="like" class="outline-icon" src="/assets/images/svg/like.svg"/>
<img alt="like" class="fill-icon" src="/assets/images/svg/like-fill.svg"/>
<div class="effect-group">
<span class="effect"></span>
<span class="effect"></span>
<span class="effect"></span>
<span class="effect"></span>
<span class="effect"></span>
</div>
</div>
<div class="product-box-detail">
<h4>Hanging Light</h4>
<div class="d-flex justify-content-between gap-3">
<h5>Metal hanging light</h5>
<h3 class="fw-semibold">$120</h3>
</div>
</div>
</div>
</div>
</div>
</div>
</section>
 other furniture section end 
 banner section start 
<section class="banner-wapper grid-banner">
<div class="custom-container">
<div class="row">
<div class="col-6">
<div class="banner-bg">
<img alt="banner-3" class="img-fluid img-bg" src="/assets/images/banner/banner-3.jpg"/>
<div class="banner-content">
<h3>Wingback Chair</h3>
</div>
<a class="more-btn d-block" href="/shop">
<i class="iconsax right-arrow" data-icon="arrow-right"></i>
<h3>View More</h3>
</a>
<div class="banner-bg"></div>
</div>
</div>
<div class="col-6">
<div class="banner-bg">
<img alt="banner-3" class="img-fluid img-bg" src="/assets/images/banner/banner-4.jpg"/>
<div class="banner-content">
<h3>Wingback Chair</h3>
</div>
<a class="more-btn d-block" href="/shop">
<i class="iconsax right-arrow" data-icon="arrow-right"></i>
<h3>View More</h3>
</a>
</div>
</div>
</div>
</div>
</section>
 banner section end 
 filter offcanvas start 
<div class="modal search-filter" id="search-filter" tabindex="-1">
<div class="modal-dialog modal-fullscreen">
<div class="modal-content">
<div class="modal-title">
<a data-bs-dismiss="modal" href="/landing">
<i class="iconsax back-btn" data-icon="arrow-left"></i>
</a>
<h3 class="fw-semibold">Filter</h3>
</div>
<div class="tab-body d-flex align-items-start">
<div aria-orientation="vertical" class="nav flex-column nav-pills" id="v-pills-tab" role="tablist">
<button aria-controls="v-pills-sort" aria-selected="true" class="nav-link active" data-bs-target="#v-pills-sort" data-bs-toggle="pill" id="v-pills-sort-tab" role="tab" type="button">Sort By</button>
<button aria-controls="v-pills-color" aria-selected="false" class="nav-link" data-bs-target="#v-pills-color" data-bs-toggle="pill" id="v-pills-color-tab" role="tab" type="button">Color</button>
<button aria-controls="v-pills-price" aria-selected="false" class="nav-link" data-bs-target="#v-pills-price" data-bs-toggle="pill" id="v-pills-price-tab" role="tab" type="button">Price</button>
<button aria-controls="v-pills-material" aria-selected="false" class="nav-link" data-bs-target="#v-pills-material" data-bs-toggle="pill" id="v-pills-material-tab" role="tab" type="button">Material</button>
</div>
<div class="tab-content" id="v-pills-tabContent">
<div aria-labelledby="v-pills-sort-tab" class="tab-pane tab-info fade show active" id="v-pills-sort" role="tabpanel" tabindex="0">
<div class="form-check">
<input class="form-check-input" id="radio1" name="flexRadioDefault" type="radio"/>
<label class="form-check-label" for="radio1">Relevance</label>
</div>
<div class="form-check">
<input class="form-check-input" id="radio2" name="radio" type="radio"/>
<label class="form-check-label" for="radio2">Highest Priced First</label>
</div>
<div class="form-check">
<input checked="" class="form-check-input" id="radio3" name="radio" type="radio"/>
<label class="form-check-label" for="radio3">Lowest Priced First</label>
</div>
<div class="form-check">
<input class="form-check-input" id="radio4" name="radio" type="radio"/>
<label class="form-check-label" for="radio4">Fastest Shipping</label>
</div>
<div class="form-check">
<input class="form-check-input" id="radio5" name="radio" type="radio"/>
<label class="form-check-label" for="radio5">Newest</label>
</div>
<div class="form-check">
<input class="form-check-input" id="radio6" name="radio" type="radio"/>
<label class="form-check-label" for="radio6">Highest Rating First</label>
</div>
</div>
<div aria-labelledby="v-pills-color-tab" class="tab-pane tab-info color-info fade" id="v-pills-color" role="tabpanel" tabindex="0">
<div class="form-check">
<input class="form-check-input" id="color1" type="checkbox" value=""/>
<label class="form-check-label" for="color1">Black</label>
</div>
<div class="form-check">
<input class="form-check-input" id="color2" type="checkbox" value=""/>
<label class="form-check-label" for="color2">Gray</label>
</div>
<div class="form-check">
<input class="form-check-input" id="color3" type="checkbox" value=""/>
<label class="form-check-label" for="color3">Blue</label>
</div>
<div class="form-check">
<input class="form-check-input" id="color4" type="checkbox" value=""/>
<label class="form-check-label" for="color4">Yellow</label>
</div>
<div class="form-check">
<input class="form-check-input" id="color5" type="checkbox" value=""/>
<label class="form-check-label" for="color5">Green</label>
</div>
<div class="form-check">
<input class="form-check-input" id="color6" type="checkbox" value=""/>
<label class="form-check-label" for="color6">Red</label>
</div>
</div>
<div aria-labelledby="v-pills-price-tab" class="tab-pane price-info fade" id="v-pills-price" role="tabpanel" tabindex="0">
<div class="range-slider">
<span>From <input max="100000" min="0" step="50" type="number" value="250"/> To <input max="1000" min="0" step="50" type="number" value="750"/> </span>
<input max="1000" min="0" step="50" type="range" value="250"/>
<input max="1000" min="0" step="50" type="range" value="500"/>
<svg height="24" width="100%">
<line stroke="#444" stroke-dasharray="1 28" stroke-width="12" x1="4" x2="480" y1="0" y2="0"></line>
</svg>
</div>
</div>
<div aria-labelledby="v-pills-material-tab" class="tab-pane tab-info fade" id="v-pills-material" role="tabpanel" tabindex="0">
<div class="form-check">
<input class="form-check-input" id="flexRadioDefault1" name="flexRadioDefault" type="checkbox"/>
<label class="form-check-label" for="flexRadioDefault1">Fabric</label>
</div>
<div class="form-check">
<input checked="" class="form-check-input" id="flexRadioDefault2" name="flexRadioDefault" type="checkbox"/>
<label class="form-check-label" for="flexRadioDefault2">Wooden</label>
</div>
<div class="form-check">
<input class="form-check-input" id="flexRadioDefault3" name="flexRadioDefault" type="checkbox"/>
<label class="form-check-label" for="flexRadioDefault2">Metal</label>
</div>
<div class="form-check">
<input class="form-check-input" id="flexRadioDefault4" name="flexRadioDefault" type="checkbox"/>
<label class="form-check-label" for="flexRadioDefault1">Plastic</label>
</div>
<div class="form-check">
<input class="form-check-input" id="flexRadioDefault5" name="flexRadioDefault" type="checkbox"/>
<label class="form-check-label" for="flexRadioDefault2">Glass</label>
</div>
</div>
</div>
</div>
<div class="footer-modal d-flex gap-3">
<a class="btn gray-btn btn-inline mt-0 w-50" href="/landing">Clear Filter</a>
<a class="theme-btn btn btn-inline mt-0 w-50" data-bs-dismiss="modal" href="/landing">apply</a>
</div>
</div>
</div>
</div>
 filter offcanvas end 
 panel-space start 
<section class="panel-space"></section>
 panel-space end 
 bottom navbar start 
<div class="navbar-menu">
<ul>
<li class="active">
<a href="/landing">
<div class="icon">
<img alt="home" class="unactive" src="/assets/images/svg/home.svg"/>
<img alt="home" class="active" src="/assets/images/svg/home-fill.svg"/>
</div>
</a>
</li>
<li>
<a href="/categories">
<div class="icon">
<img alt="categories" class="unactive" src="/assets/images/svg/categories.svg"/>
<img alt="categories" class="active" src="/assets/images/svg/categories-fill.svg"/>
</div>
</a>
</li>
<li>
<a href="/cart">
<div class="icon">
<img alt="bag" class="unactive" src="/assets/images/svg/bag.svg"/>
<img alt="bag" class="active" src="/assets/images/svg/bag-fill.svg"/>
</div>
</a>
</li>
<li>
<a href="/wishlist">
<div class="icon">
<img alt="heart" class="unactive" src="/assets/images/svg/heart.svg"/>
<img alt="heart" class="active" src="/assets/images/svg/heart-fill.svg"/>
</div>
</a>
</li>
<li>
<a href="/profile">
<div class="icon">
<img alt="profile" class="unactive" src="/assets/images/svg/profile.svg"/>
<img alt="profile" class="active" src="/assets/images/svg/profile-fill.svg"/>
</div>
</a>
</li>
</ul>
</div>
 bottom navbar end 
 swiper js 


 range-slider js 

 iconsax js 

 bootstrap js 

 script js 

