
 header start 
<header class="section-t-space">
<div class="custom-container">
<div class="header-panel">
<a href="/payment">
<i class="iconsax back-btn" data-icon="arrow-left"></i>
</a>
<h3>Add New Card</h3>
</div>
</div>
</header>
 header end 
 card form section start 
<section class="section-b-space">
<div class="custom-container">
<form class="address-form" target="_blank">
<div class="form-group">
<label class="form-label">Card Number</label>
<div class="form-input mb-3">
<input class="form-control" placeholder="Enter card number" type="text"/>
</div>
</div>
<div class="form-group">
<label class="form-label">Card Holder Name</label>
<div class="form-input mb-3">
<input class="form-control" placeholder="Enter card holder name" type="text"/>
</div>
</div>
<div class="row">
<div class="col-5">
<div class="form-group">
<label class="form-label">CVV</label>
<div class="form-input mb-3"><input class="form-control" placeholder="Enter cvv" type="password"/></div>
</div>
</div>
<div class="col-7">
<div class="form-group">
<label class="form-label">Exp. Date</label>
<div class="form-input mb-3">
<input class="form-control" type="date"/>
</div>
</div>
</div>
</div>
<a class="btn theme-btn mt-5 w-100" href="/payment">Add Card</a>
</form>
</div>
</section>
 card form section start 
 iconsax js 

 bootstrap js 

 script js 

