
 header start 
<header class="section-t-space">
<div class="custom-container">
<div class="header-panel">
<a href="/categories">
<i class="iconsax back-btn" data-icon="arrow-left"></i>
</a>
<h3>Order Tracker</h3>
</div>
</div>
</header>
 header end 
 order tracking section start 
<section>
<div class="custom-container">
<h4 class="light-text fw-normal">01 Dec, 2022</h4>
<div class="order-id d-flex justify-content-between gap-2 mt-2">
<h4 class="theme-color fw-medium">Order ID : #1245035000</h4>
<h4 class="theme-color fw-semibold"><span class="light-text fw-normal">Amount :</span> $112</h4>
</div>
<div class="order-tracking">
<h2 class="mb-3">Order Journey</h2>
<ul>
<li class="order-process completed">
<div class="d-flex gap-3 w-100">
<span>
<img alt="check" class="process-icon" src="/assets/images/svg/chack.svg"/>
</span>
<div class="process-details">
<h4>Order Information Received</h4>
<h5>5:30 pm | 25 Nov, 2022</h5>
</div>
</div>
</li>
<li class="order-process completed">
<div class="d-flex gap-3 w-100">
<span>
<img alt="check" class="process-icon" src="/assets/images/svg/chack.svg"/>
</span>
<div class="process-details">
<h4>The Parcel is being collected</h4>
<h5>8:00 am | 28 Nov, 2022</h5>
</div>
</div>
</li>
<li class="order-process ongoing">
<div class="d-flex gap-3 w-100">
<div class="ongoing-border">
<span>
<i class="iconsax process-icon" data-icon="box-time"></i>
</span>
</div>
<div class="process-details">
<h4>Ready To be Send</h4>
<h5>9:45 am | 29 Nov, 2022</h5>
</div>
</div>
</li>
<li class="order-process">
<div class="d-flex gap-3 w-100">
<span>
<i class="iconsax pending-icon" data-icon="truck-fast"></i>
</span>
<div class="process-details">
<h4>Dispatch in Local Wear House</h4>
<h5>2:20 pm | 30 Nov, 2022</h5>
</div>
</div>
</li>
<li class="order-process">
<div class="d-flex gap-3 w-100">
<span>
<i class="iconsax pending-icon" data-icon="gift"></i>
</span>
<div class="process-details">
<h4>Parcel Delivered</h4>
<h5>5:30 pm | 01 Dec, 2022</h5>
</div>
</div>
</li>
</ul>
</div>
</div>
</section>
 order tracking section end 
 billing section start 
<section class="bill-details section-b-space">
<div class="custom-container">
<div class="total-detail">
<div class="sub-total d-flex justify-content-between">
<h5 class="light-text">Sub Total</h5>
<h4 class="fw-medium">$112</h4>
</div>
<div class="sub-total mt-3 d-flex justify-content-between">
<h5 class="light-text">Shipping charge</h5>
<h4 class="fw-medium">$20.00</h4>
</div>
<div class="sub-total mt-3 mb-3 d-flex justify-content-between">
<h5 class="fw-medium light-text">Discount (10%)</h5>
<h4 class="fw-medium">$0.00</h4>
</div>
<div class="grand-total pt-3 d-flex justify-content-between">
<h5 class="fw-medium">Grand Total</h5>
<h4 class="fw-semibold amount">$132</h4>
</div>
</div>
<a class="btn theme-btn w-100" href="/landing">Continue Shopping</a>
</div>
</section>
 billing section start 
 iconsax js 

 bootstrap js 

 script js 

