
 otp section start 
<div class="auth-img">
<img alt="auth_bg" class="img-fluid auth-bg" src="/assets/images/background/auth_bg.jpg"/>
<div class="auth-content">
<div>
<h2>OTP Verification</h2>
</div>
</div>
</div>
<div class="custom-container">
<div class="otp-verification">
<h4>We have sent a verification code to</h4>
<h4 class="otp-number mt-2">+91 635 546 23098</h4>
</div>
<form class="otp-form">
<div class="form-input dark-border-gradient">
<input class="form-control active" id="five1" onfocus="onFocusEvent(1)" onkeyup="onKeyUpEvent(1, event)" placeholder="0" type="number"/>
</div>
<div class="form-input dark-border-gradient">
<input class="form-control" id="five2" onfocus="onFocusEvent(2)" onkeyup="onKeyUpEvent(2, event)" placeholder="0" type="number"/>
</div>
<div class="form-input dark-border-gradient">
<input class="form-control" id="five3" onfocus="onFocusEvent(3)" onkeyup="onKeyUpEvent(3, event)" placeholder="0" type="number"/>
</div>
<div class="form-input dark-border-gradient">
<input class="form-control" id="five4" onfocus="onFocusEvent(4)" onkeyup="onKeyUpEvent(4, event)" placeholder="0" type="number"/>
</div>
<div class="form-input dark-border-gradient">
<input class="form-control" id="five5" onfocus="onFocusEvent(5)" onkeyup="onKeyUpEvent(5, event)" placeholder="0" type="number"/>
</div>
</form>
<a class="btn auth-btn w-100" href="/reset-password" role="button">Verify</a>
</div>
 otp section end 
 otp js 

 iconsax js 

 bootstrap js 

 script js 

