
 header start 
<header class="section-t-space">
<div class="custom-container">
<div class="header-panel">
<a href="/shipping-address">
<i class="iconsax back-btn" data-icon="arrow-left"></i>
</a>
<h3>Payment Method</h3>
</div>
</div>
</header>
 header end 
 payment method section start 
<section class="payment-method section-lg-b-space">
<div class="custom-container">
<h2 class="fw-semibold theme-color">Your Card</h2>
<ul class="payment-list section-lg-b-space">
<li class="cart-add-box payment-card-box gap-0 mt-3">
<div class="payment-detail border-bottom-0">
<label class="form-label" for="one">
<img alt="mastercard" class="img-fluid img" src="/assets/images/icons/svg/mastercard.svg"/>
<span>
<span class="fw-normal theme-color card-heading">Mastercard *** *** 4589</span>
<span class="fw-normal card-sub-heading">Expires on 16/24</span>
</span>
</label>
<div class="form-check">
<input checked="" class="form-check-input" id="one" name="flexRadioDefault" type="radio"/>
</div>
</div>
</li>
<li class="cart-add-box payment-card-box gap-0 mt-3">
<div class="payment-detail border-bottom-0">
<label class="form-label" for="two">
<img alt="visa" class="img-fluid img" src="/assets/images/icons/svg/visa.svg"/>
<span>
<span class="fw-normal theme-color card-heading">visa *** *** 4589</span>
<span class="fw-normal card-sub-heading">Expires on 16/24</span>
</span>
</label>
<div class="form-check">
<input class="form-check-input" id="two" name="flexRadioDefault" type="radio"/>
</div>
</div>
</li>
</ul>
<div class="new-card">
<a href="/new-card">
<h6>+Add New Card</h6>
</a>
</div>
<h2 class="fw-semibold theme-color section-t-space">Wallet</h2>
<div class="payment-list">
<ul class="cart-add-box payment-card-box gap-0 mt-3">
<li class="w-100">
<div class="payment-detail">
<label class="form-label" for="three">
<img alt="mastercard" class="img-fluid img" src="/assets/images/icons/svg/paypal.svg"/>
<span>
<span class="fw-normal theme-color">Pay Pal</span>
</span>
</label>
<div class="form-check">
<input class="form-check-input" id="three" name="flexRadioDefault" type="radio"/>
</div>
</div>
</li>
<li class="w-100">
<div class="payment-detail">
<label class="form-label" for="four">
<img alt="apple-pay" class="img-fluid img1" src="/assets/images/icons/svg/apple-pay.svg"/>
<span>
<span class="fw-normal theme-color">Apple Pay</span>
</span>
</label>
<div class="form-check">
<input class="form-check-input" id="four" name="flexRadioDefault" type="radio"/>
</div>
</div>
</li>
<li class="w-100">
<div class="payment-detail">
<label class="form-label" for="five">
<img alt="google-pay" class="img-fluid img" src="/assets/images/icons/svg/google-pay.svg"/>
<span>
<span class="fw-normal theme-color">Google Pay</span>
</span>
</label>
<div class="form-check">
<input class="form-check-input" id="five" name="flexRadioDefault" type="radio"/>
</div>
</div>
</li>
<li class="w-100">
<div class="payment-detail border-bottom-0">
<label class="form-label" for="six">
<img alt="cash" class="img-fluid img" src="/assets/images/icons/svg/cash.svg"/>
<span>
<span class="fw-normal theme-color">Cash on Delivery</span>
</span>
</label>
<div class="form-check">
<input class="form-check-input" id="six" name="flexRadioDefault" type="radio"/>
</div>
</div>
</li>
</ul>
</div>
</div>
</section>
 payment method section end 
 pay popup start 
<div class="pay-popup">
<div class="price-items">
<h6>Total price</h6>
<h2>$324.00</h2>
</div>
<a class="btn btn-lg theme-btn pay-btn mt-0" data-bs-toggle="modal" href="#success">Pay Now</a>
</div>
 pay popup end 
 success payment modal start 
<div class="modal fade success-modal" id="success" tabindex="-1">
<div class="modal-dialog modal-dialog-centered">
<div class="modal-content">
<div class="modal-body">
<div class="confirm-title text-center">
<img alt="success-payment" class="img-fluid confirm-offer" src="/assets/images/gif/success.gif"/>
<h2 class="theme-color text-center fw-medium mt-2">Congratulations !!</h2>
<h5 class="light-text fw-normal lh-base text-center w-100 mt-2 mx-auto">Your order is accepted. Your items are on the way and should arrive shortly.</h5>
</div>
<a class="btn theme-btn w-100 mt-4" href="/order-tracking" role="button">Track Order Now</a>
<a class="btn gray-btn mt-3" href="/landing">Continue Shopping</a>
</div>
</div>
</div>
</div>
 susses payment modal end 
 iconsax js 

 bootstrap js 

 script js 

