
 Top Header Image Start 
<div class="top-image">
<img alt="header-bg" class="product-header img-fluid" src="/assets/images/background/header-bg.png"/>
</div>
 Top Header Image End 
 header start 
<header class="product-page-header">
<div class="header-panel">
<a class="product-back" href="/categories">
<i class="iconsax back-btn" data-icon="arrow-left"></i>
</a>
<h3 class="title">Chairs</h3>
<div class="d-flex gap-2">
<a class="search" href="/search">
<i class="iconsax icons" data-icon="search-normal-2"></i>
</a>
<div class="like-btn animate active inactive">
<img alt="like" class="outline-icon" src="/assets/images/svg/like.svg"/>
<img alt="like" class="fill-icon" src="/assets/images/svg/like-fill.svg"/>
<div class="effect-group">
<span class="effect"></span>
<span class="effect"></span>
<span class="effect"></span>
<span class="effect"></span>
<span class="effect"></span>
</div>
</div>
</div>
</div>
</header>
 header end 
 product-image section start 
<section>
<div class="product-image-slider">
<div class="swiper product-1 ms-4">
<div class="swiper-wrapper">
<div class="swiper-slide">
<img alt="p26" class="img-fluid product-img" src="/assets/images/product/26.png"/>
</div>
<div class="swiper-slide">
<img alt="p27" class="img-fluid product-img" src="/assets/images/product/27.png"/>
</div>
<div class="swiper-slide">
<img alt="p26" class="img-fluid product-img" src="/assets/images/product/26.png"/>
</div>
<div class="swiper-slide">
<img alt="p27" class="img-fluid product-img" src="/assets/images/product/27.png"/>
</div>
</div>
<div class="product-info d-flex justify-content-between">
<div class="swiper-pagination"></div>
<ul class="color-variation">
<li class="product-color color1"></li>
<li class="product-color color2"></li>
<li class="product-color color3"></li>
</ul>
</div>
</div>
</div>
</section>
 product-image section end 
 product-details section start 
<section class="pt-0">
<div class="custom-container">
<div class="product-details">
<div class="product-name">
<h2 class="theme-color">Buddy Chair</h2>
<h6>20% OFF</h6>
</div>
<div class="ratings mt-1">
<div class="d-flex align-items-center gap-1">
<h4 class="theme-color fw-normal">4.0</h4>
<ul class="rating-stars">
<li><img alt="star" class="img-fluid stars" src="/assets/images/svg/Star.svg"/></li>
<li><img alt="star" class="img-fluid stars" src="/assets/images/svg/Star.svg"/></li>
<li><img alt="star" class="img-fluid stars" src="/assets/images/svg/Star.svg"/></li>
<li><img alt="star" class="img-fluid stars" src="/assets/images/svg/Star.svg"/></li>
<li><img alt="star" class="img-fluid stars" src="/assets/images/svg/star1.svg"/></li>
</ul>
<h4 class="reviews">156 Reviews</h4>
</div>
</div>
<div class="product-price">
<h3>$102.25 <del>$120.00</del></h3>
<div class="plus-minus">
<i class="iconsax sub" data-icon="minus"></i>
<input max="10" min="1" type="number" value="1"/>
<i class="iconsax add" data-icon="add"></i>
</div>
</div>
<p>The buddy chair with modern comfort and durable fabric.</p>
<div class="accordion details-accordion" id="accordionPanelsStayOpenExample">
<div class="accordion-item">
<div class="accordion-header" id="headingOne">
<div class="accordion-button" data-bs-target="#panelsStayOpen-p1" data-bs-toggle="collapse">Dimensions</div>
</div>
<div aria-labelledby="headingOne" class="accordion-collapse collapse show" data-bs-parent="#accordionExample" id="panelsStayOpen-p1">
<div class="accordion-body">
<table class="table table-bordered text-center m-0">
<thead>
<tr>
<th scope="col">Height</th>
<th scope="col">Width</th>
<th scope="col">Length</th>
<th scope="col">Weight</th>
</tr>
</thead>
<tbody>
<tr>
<td>115 cm</td>
<td>85 cm</td>
<td>18 lb</td>
<td>5 kg</td>
</tr>
</tbody>
</table>
</div>
</div>
</div>
<div class="accordion-item">
<div class="accordion-header" id="headingTwo">
<div class="accordion-button" data-bs-target="#panelsStayOpen-p2" data-bs-toggle="collapse">Check Delivery</div>
</div>
<div class="accordion-collapse collapse show" data-bs-parent="#accordionExample" id="panelsStayOpen-p2">
<div class="accordion-body">
<div class="input-group">
<input class="form-control" placeholder="Pincode" type="text"/>
<button class="btn theme-btn" id="button-addon2" type="button">Check</button>
</div>
<ul class="address-type">
<li>
<i class="iconsax icon" data-icon="truck-fast"></i>
<h6>Free Delivery</h6>
</li>
<li>
<i class="iconsax icon" data-icon="dollar-circle"></i>
<h6>COD Available</h6>
</li>
<li>
<i class="iconsax icon" data-icon="box-rotate"></i>
<h6>21 days Return</h6>
</li>
</ul>
</div>
</div>
</div>
<div class="accordion-item">
<div class="accordion-header" id="headingThree">
<div class="accordion-button" data-bs-target="#panelsStayOpen-p3" data-bs-toggle="collapse">Details</div>
</div>
<div aria-labelledby="headingThree" class="accordion-collapse collapse show" data-bs-parent="#accordionExample" id="panelsStayOpen-p3">
<div class="accordion-body">
<div class="product-description">
<p>This product is eligible for returns and size replacements. Please initiate the return from the “My Orders” section <span>...Read More</span></p>
</div>
</div>
</div>
</div>
<div class="accordion-item">
<div class="accordion-header" id="headingFour">
<div class="accordion-button" data-bs-target="#panelsStayOpen-p4" data-bs-toggle="collapse">Reviews</div>
</div>
<div aria-labelledby="headingFour" class="accordion-collapse collapse show" data-bs-parent="#accordionExample" id="panelsStayOpen-p4">
<div class="accordion-body pb-0">
<div class="reviews-display">
<div class="d-flex justify-content-between">
<h4 class="theme-color">430 Reviews</h4>
<a class="theme-color" data-bs-toggle="modal" href="#reviews">View all</a>
</div>
<div class="reviews-box">
<div class="d-flex align-items-center gap-2">
<img alt="profile2" class="img-fluid profile-pic" src="/assets/images/icons/profile2.png"/>
<div class="d-flex justify-content-between w-100">
<div>
<h4 class="theme-color">Rina Jones</h4>
<h4 class="light-text mt-1">Just Now</h4>
</div>
<div class="d-flex align-items-start">
<img alt="star" class="img-fluid stars" src="/assets/images/svg/Star.svg"/>
<h4 class="theme-color fw-normal">4.0</h4>
</div>
</div>
</div>
<p>I adore this item. Just fantastic!! they create the actual seen in the picture !!</p>
</div>
<div class="reviews-box">
<div class="d-flex align-items-center gap-2">
<img alt="profile2" class="img-fluid profile-pic" src="/assets/images/icons/profile3.png"/>
<div class="d-flex justify-content-between w-100">
<div>
<h4 class="theme-color">Smith Williams</h4>
<h4 class="light-text mt-1">1 min ago</h4>
</div>
<div class="d-flex align-items-start">
<img alt="star" class="img-fluid stars" src="/assets/images/svg/Star.svg"/>
<h4 class="theme-color fw-normal">4.2</h4>
</div>
</div>
</div>
<p>The best product quality.! It's amazing, Love it...!!</p>
</div>
<a class="my-review" data-bs-toggle="offcanvas" href="#my-review" role="button">+ Write Your Review</a>
</div>
</div>
</div>
</div>
</div>
</div>
</div>
</section>
 similer-product section start 
<section class="similer-product section-b-space">
<div class="custom-container">
<div class="title">
<h2>Similar Products</h2>
<a href="/shop">View All</a>
</div>
<div class="swiper similer-product">
<div class="swiper-wrapper">
<div class="swiper-slide">
<div class="product-box">
<div class="product-box-img">
<a href="/product-details"> <img alt="p1" class="img" src="/assets/images/product/1.png"/></a>
<div class="cart-box">
<a class="cart-bag" href="/cart">
<i class="iconsax bag" data-icon="basket-2"></i>
</a>
</div>
</div>
<div class="product-box-detail">
<h4>Buddy Chair</h4>
<h5>Modern saddle arms</h5>
<div class="bottom-panel">
<div class="price">
<h4>$14 <del class="pev-price">$20</del></h4>
</div>
<div class="rating">
<img alt="star" src="/assets/images/svg/Star.svg"/>
<h6>4.5</h6>
</div>
</div>
</div>
</div>
</div>
<div class="swiper-slide">
<div class="product-box">
<div class="product-box-img">
<a href="/product-details"> <img alt="p2" class="img" src="/assets/images/product/2.png"/></a>
<div class="cart-box">
<a class="cart-bag" href="/cart">
<i class="iconsax bag" data-icon="basket-2"></i>
</a>
</div>
</div>
<div class="product-box-detail">
<h4>Wingback Chair</h4>
<h5>Modern saddle arms</h5>
<div class="bottom-panel">
<div class="price">
<h4>$15 <del class="pev-price">$18</del></h4>
</div>
<div class="rating">
<img alt="star" src="/assets/images/svg/Star.svg"/>
<h6>4.5</h6>
</div>
</div>
</div>
</div>
</div>
<div class="swiper-slide">
<div class="product-box">
<div class="product-box-img">
<a href="/product-details"> <img alt="p14" class="img" src="/assets/images/product/14.png"/></a>
<div class="cart-box">
<a class="cart-bag" href="/cart">
<i class="iconsax bag" data-icon="basket-2"></i>
</a>
</div>
</div>
<div class="product-box-detail">
<h4>Winston Chair</h4>
<h5>Modern saddle arms</h5>
<div class="bottom-panel">
<div class="price">
<h4>$20 <del class="pev-price">$22</del></h4>
</div>
<div class="rating">
<img alt="star" src="/assets/images/svg/Star.svg"/>
<h6>4.5</h6>
</div>
</div>
</div>
</div>
</div>
<div class="swiper-slide">
<div class="product-box">
<div class="product-box-img">
<a href="/product-details"> <img alt="p15" class="img" src="/assets/images/product/15.png"/></a>
<div class="cart-box">
<a class="cart-bag" href="/cart">
<i class="iconsax bag" data-icon="basket-2"></i>
</a>
</div>
</div>
<div class="product-box-detail">
<h4>Beige Chair</h4>
<h5>Modern saddle arms</h5>
<div class="bottom-panel">
<div class="price">
<h4>$16 <del class="pev-price">$21</del></h4>
</div>
<div class="rating">
<img alt="star" src="/assets/images/svg/Star.svg"/>
<h6>4.5</h6>
</div>
</div>
</div>
</div>
</div>
<div class="swiper-slide">
<div class="product-box">
<div class="product-box-img">
<a href="/product-details"> <img alt="p16" class="img" src="/assets/images/product/16.png"/></a>
<div class="cart-box">
<a class="cart-bag" href="/cart">
<i class="iconsax bag" data-icon="basket-2"></i>
</a>
</div>
</div>
<div class="product-box-detail">
<h4>Dining Chair</h4>
<h5>Modern saddle arms</h5>
<div class="bottom-panel">
<div class="price">
<h4>$12 <del class="pev-price">$15</del></h4>
</div>
<div class="rating">
<img alt="star" src="/assets/images/svg/Star.svg"/>
<h6>4.5</h6>
</div>
</div>
</div>
</div>
</div>
<div class="swiper-slide">
<div class="product-box">
<div class="product-box-img">
<a href="/product-details">
<img alt="p17" class="img" src="/assets/images/product/17.png"/>
</a>
<div class="cart-box">
<a class="cart-bag" href="/cart">
<i class="iconsax bag" data-icon="basket-2"></i>
</a>
</div>
</div>
<div class="product-box-detail">
<h4>Harbour Chair</h4>
<h5>Modern saddle arms</h5>
<div class="bottom-panel">
<div class="price">
<h4>$17 <del class="pev-price">$23</del></h4>
</div>
<div class="rating">
<img alt="star" src="/assets/images/svg/Star.svg"/>
<h6>4.5</h6>
</div>
</div>
</div>
</div>
</div>
</div>
</div>
</div>
</section>
 similer-product section end 
 cart box starts 
<section class="fixed-cart-btn section-b-space">
<div class="custom-container">
<a class="cart-box-sec" href="/cart">
<div class="d-flex align-items-center gap-2">
<i class="iconsax bag" data-icon="basket-2"></i>
<h2>Add to cart</h2>
</div>
<h2>$102.25</h2>
</a>
</div>
</section>
 cart box end 
 product-details section end 
 my-review offcanvas start 
<div class="offcanvas offcanvas-bottom my-review-offcanvas" id="my-review" tabindex="-1">
<div class="offcanvas-header review-head">
<h4 class="offcanvas-title" id="offcanvasBottomLabel">Create Review</h4>
<button class="btn-close" data-bs-dismiss="offcanvas" type="button"></button>
</div>
<div class="offcanvas-body review-body">
<div class="rating-sec d-flex align-items-center justify-content-start gap-1 border-0 p-0">
<h4 class="theme-color fw-normal">Rating :</h4>
<ul class="rating-stars">
<li><img alt="star" class="img-fluid stars" src="/assets/images/svg/Star.svg"/></li>
<li><img alt="star" class="img-fluid stars" src="/assets/images/svg/Star.svg"/></li>
<li><img alt="star" class="img-fluid stars" src="/assets/images/svg/Star.svg"/></li>
<li><img alt="star" class="img-fluid stars" src="/assets/images/svg/Star.svg"/></li>
<li><img alt="star" class="img-fluid stars" src="/assets/images/svg/star1.svg"/></li>
</ul>
</div>
<form class="theme-form">
<div class="row">
<div class="col-md-6">
<div class="form-group mt-3">
<label class="form-check-label" for="name">Name</label>
<input class="form-control" id="name" placeholder="Enter Your name" required="" type="text"/>
</div>
</div>
<div class="col-md-6">
<div class="form-group mt-3">
<label class="form-check-label" for="email">Email</label>
<input class="form-control" id="email" placeholder="Email" required="" type="text"/>
</div>
</div>
<div class="col-md-12">
<div class="form-group mt-3">
<label class="form-check-label" for="review">Review Title</label>
<input class="form-control" id="review" placeholder="Enter your Review Subjects" required="" type="text"/>
</div>
</div>
<div class="col-md-12">
<div class="form-group mt-3">
<label class="form-check-label">Add a Photo or Video</label>
<div class="upload-image">
<div class="my-dropzone" id="upload-file"></div>
<div class="upload-icon">
<i class="iconsax add-icon" data-icon="add"></i>
<h6>Upload</h6>
</div>
</div>
</div>
</div>
<div class="col-md-12">
<div class="form-group mt-3">
<label class="form-check-label" for="review">Review</label>
<textarea class="form-control" id="exampleFormControlTextarea1" placeholder="Write Your Review Here" rows="3"></textarea>
</div>
</div>
<div class="col-md-12">
<a class="btn theme-btn mt-3" href="/product-details">Submit Your Review</a>
</div>
</div>
</form>
</div>
</div>
 my-review offcanvas end 
 review modal start 
<div class="modal review-modal fade" id="reviews" tabindex="-1">
<div class="modal-dialog modal-fullscreen">
<div class="modal-content">
<div class="modal-header">
<h1 class="modal-title fs-5" id="exampleModalLabel">Customer Reviews</h1>
<button class="btn-close" data-bs-dismiss="modal" type="button"></button>
</div>
<div class="modal-body">
<section class="section-b-space pt-0">
<div class="reviews-display">
<div class="reviews-box">
<div class="d-flex align-items-center gap-2">
<img alt="profile2" class="img-fluid profile-pic" src="/assets/images/icons/profile2.png"/>
<div class="d-flex justify-content-between w-100">
<div>
<h4 class="theme-color">Rina Jones</h4>
<h4 class="light-text mt-1">Just Now</h4>
</div>
<div class="d-flex align-items-start">
<img alt="star" class="img-fluid stars" src="/assets/images/svg/Star.svg"/>
<h4 class="theme-color fw-normal">4.0</h4>
</div>
</div>
</div>
<p>I adore this item. Just fantastic!! they create the actual seen in the picture !!</p>
</div>
<div class="reviews-box">
<div class="d-flex align-items-center gap-2">
<img alt="profile2" class="img-fluid profile-pic" src="/assets/images/icons/profile3.png"/>
<div class="d-flex justify-content-between w-100">
<div>
<h4 class="theme-color">Smith Williams</h4>
<h4 class="light-text mt-1">1 min ago</h4>
</div>
<div class="d-flex align-items-start">
<img alt="star" class="img-fluid stars" src="/assets/images/svg/Star.svg"/>
<h4 class="theme-color fw-normal">4.2</h4>
</div>
</div>
</div>
<p>The best product quality.! It's amazing, Love it...!!</p>
</div>
<div class="reviews-box">
<div class="d-flex align-items-center gap-2">
<img alt="profile2" class="img-fluid profile-pic" src="/assets/images/icons/profile1.png"/>
<div class="d-flex justify-content-between w-100">
<div>
<h4 class="theme-color">Marlin Watkin</h4>
<h4 class="light-text mt-1">30 min ago</h4>
</div>
<div class="d-flex align-items-start">
<img alt="star" class="img-fluid stars" src="/assets/images/svg/Star.svg"/>
<h4 class="theme-color fw-normal">4.5</h4>
</div>
</div>
</div>
<p>The most important idea is that the creator creates a fantastic picture.</p>
</div>
<div class="reviews-box">
<div class="d-flex align-items-center gap-2">
<img alt="profile2" class="img-fluid profile-pic" src="/assets/images/icons/profile.png"/>
<div class="d-flex justify-content-between w-100">
<div>
<h4 class="theme-color">Agasya shaw</h4>
<h4 class="light-text mt-1">1 hour ago</h4>
</div>
<div class="d-flex align-items-start">
<img alt="star" class="img-fluid stars" src="/assets/images/svg/Star.svg"/>
<h4 class="theme-color fw-normal">4.2</h4>
</div>
</div>
</div>
<p>The most important idea is that the creator creates a beautiful picture of their item.</p>
</div>
<div class="reviews-box">
<div class="d-flex align-items-center gap-2">
<img alt="profile2" class="img-fluid profile-pic" src="/assets/images/icons/profile2.png"/>
<div class="d-flex justify-content-between w-100">
<div>
<h4 class="theme-color">Zoe Raws</h4>
<h4 class="light-text mt-1">12 hour ago</h4>
</div>
<div class="d-flex align-items-start">
<img alt="star" class="img-fluid stars" src="/assets/images/svg/Star.svg"/>
<h4 class="theme-color fw-normal">4.3</h4>
</div>
</div>
</div>
<p>I adore this item. Just fantastic!! they create the actual seen in the picture !!</p>
</div>
<div class="reviews-box">
<div class="d-flex align-items-center gap-2">
<img alt="profile2" class="img-fluid profile-pic" src="/assets/images/icons/profile3.png"/>
<div class="d-flex justify-content-between w-100">
<div>
<h4 class="theme-color">Alex Welsh</h4>
<h4 class="light-text mt-1">1 day ago</h4>
</div>
<div class="d-flex align-items-start">
<img alt="star" class="img-fluid stars" src="/assets/images/svg/Star.svg"/>
<h4 class="theme-color fw-normal">4.6</h4>
</div>
</div>
</div>
<p>The best product quality is amazing and love it.</p>
</div>
</div>
</section>
</div>
</div>
</div>
</div>
 review modal end 
 panel-space start 
<section class="panel-space"></section>
 panel-space end 
 swiper js 


 range-slider js 

 dropzone js 

 iconsax js 

 bootstrap js 

 script js 

