
 header start 
<header class="profile-header section-t-space">
<div class="custom-container">
<div class="header-panel">
<h3>Profile</h3>
</div>
<div class="d-flex align-items-center gap-2">
<div class="profile-pic mt-5">
<img alt="profile" class="img-fluid img" src="/assets/images/icons/profile1.png"/>
</div>
<div class="profile-name d-flex align-items-center justify-content-between mt-3 w-100">
<h4 class="theme-color">Marlin Watkin</h4>
<a href="/profile-setting">
<i class="iconsax edit-icon" data-icon="edit-1"></i>
</a>
</div>
</div>
</div>
</header>
 header end 
 profile section start 
<section class="section-b-space pt-0">
<div class="custom-container">
<ul class="profile-list">
<li>
<a class="profile-box" href="/order-history">
<div class="profile-img">
<i class="iconsax icon" data-icon="box"></i>
</div>
<div class="profile-details">
<h4>Orders</h4>
<h5>Ongoing orders, Recent orders..</h5>
</div>
</a>
</li>
<li>
<a class="profile-box" href="/wishlist">
<div class="profile-img">
<i class="iconsax icon" data-icon="heart"></i>
</div>
<div class="profile-details">
<h4>Wishlist</h4>
<h5>Your save product</h5>
</div>
</a>
</li>
<li>
<a class="profile-box" href="/manage-payment">
<div class="profile-img">
<i class="iconsax icon" data-icon="wallet-open"></i>
</div>
<div class="profile-details">
<h4>Payment</h4>
<h5>Saved card, Wallets</h5>
</div>
</a>
</li>
<li>
<a class="profile-box" href="/manage-address">
<div class="profile-img">
<i class="iconsax icon" data-icon="location"></i>
</div>
<div class="profile-details">
<h4>Saved Address</h4>
<h5>Home, Office</h5>
</div>
</a>
</li>
<li>
<a class="profile-box" href="/language">
<div class="profile-img">
<i class="iconsax icon" data-icon="translate"></i>
</div>
<div class="profile-details">
<h4>Language</h4>
<h5>Select your language here</h5>
</div>
</a>
</li>
<li>
<a class="profile-box" href="/notification">
<div class="profile-img">
<i class="iconsax icon" data-icon="bell-1"></i>
</div>
<div class="profile-details">
<h4>Notification</h4>
<h5>Offers, Order tracking messages</h5>
</div>
</a>
</li>
<li>
<a class="profile-box" href="/setting">
<div class="profile-img">
<i class="iconsax icon" data-icon="setting-1"></i>
</div>
<div class="profile-details">
<h4>Settings</h4>
<h5>app settings, Dark mode</h5>
</div>
</a>
</li>
<li>
<a class="profile-box" href="/terms-conditions">
<div class="profile-img">
<i class="iconsax icon" data-icon="info-circle"></i>
</div>
<div class="profile-details">
<h4>Terms &amp; Conditions</h4>
<h5>T&amp;C for use of platform</h5>
</div>
</a>
</li>
<li class="border-bottom-0">
<a class="profile-box" href="/help">
<div class="profile-img">
<i class="iconsax icon" data-icon="phone"></i>
</div>
<div class="profile-details">
<h4>Help</h4>
<h5>Customer Support, FAQs</h5>
</div>
</a>
</li>
</ul>
</div>
</section>
 profile section start 
 panel-space start 
<section class="panel-space"></section>
 panel-space end 
 bottom navbar start 
<div class="navbar-menu">
<ul>
<li>
<a href="/landing">
<div class="icon">
<img alt="home" class="unactive" src="/assets/images/svg/home.svg"/>
<img alt="home" class="active" src="/assets/images/svg/home-fill.svg"/>
</div>
</a>
</li>
<li>
<a href="/categories">
<div class="icon">
<img alt="categories" class="unactive" src="/assets/images/svg/categories.svg"/>
<img alt="categories" class="active" src="/assets/images/svg/categories-fill.svg"/>
</div>
</a>
</li>
<li>
<a href="/cart">
<div class="icon">
<img alt="bag" class="unactive" src="/assets/images/svg/bag.svg"/>
<img alt="bag" class="active" src="/assets/images/svg/bag-fill.svg"/>
</div>
</a>
</li>
<li>
<a href="/wishlist">
<div class="icon">
<img alt="heart" class="unactive" src="/assets/images/svg/heart.svg"/>
<img alt="heart" class="active" src="/assets/images/svg/heart-fill.svg"/>
</div>
</a>
</li>
<li class="active">
<a href="/profile">
<div class="icon">
<img alt="profile" class="unactive" src="/assets/images/svg/profile.svg"/>
<img alt="profile" class="active" src="/assets/images/svg/profile-fill.svg"/>
</div>
</a>
</li>
</ul>
</div>
 bottom navbar end 
 iconsax js 

 bootstrap js 

 script js 

