
 header start 
<header class="section-t-space">
<div class="custom-container">
<div class="header-panel">
<a href="/profile">
<i class="iconsax back-btn" data-icon="arrow-left"></i>
</a>
<h3>Setting</h3>
</div>
</div>
</header>
 header end 
 setting section start 
<section>
<div class="custom-container">
<ul class="notification-setting">
<li>
<div class="notification pt-0">
<h5 class="fw-semibold theme-color">Dark/Light</h5>
<div class="switch-btn">
<input id="dark-switch" type="checkbox"/>
</div>
</div>
</li>
<li>
<div class="notification">
<h5 class="fw-semibold theme-color">RTL</h5>
<div class="switch-btn">
<input id="dir-switch" type="checkbox"/>
</div>
</div>
</li>
<li>
<div class="notification pb-0">
<h5 class="fw-semibold theme-color">Notification</h5>
<div class="switch-btn">
<input type="checkbox"/>
</div>
</div>
</li>
</ul>
</div>
</section>
 setting section end 
 panel-space start 
<section class="panel-space"></section>
 panel-space end 
 iconsax js 

 bootstrap js 

 script js 

