
 header start 
<header class="section-t-space">
<div class="custom-container">
<div class="header-panel">
<a href="/checkout">
<i class="iconsax back-btn" data-icon="arrow-left"></i>
</a>
<h3>Choose Shipping</h3>
</div>
</div>
</header>
 header end 
 shipping section start 
<section>
<div class="custom-container">
<div class="row g-3">
<div class="col-12">
<div class="shipping-box">
<a href="#">
<i class="iconsax icons" data-icon="box-tick"></i>
</a>
<div class="shipping-details">
<div class="shipping-info">
<h4>Economy</h4>
<h5>Estimated Arrival, Mar 20-23</h5>
</div>
<div class="price">
<div class="form-check form-check-reverse">
<label class="form-check-label" for="radio1">$10</label>
<input class="form-check-input" id="radio1" name="exampleRadio" type="radio" value="option2"/>
</div>
</div>
</div>
</div>
</div>
<div class="col-12">
<div class="shipping-box">
<a href="#">
<i class="iconsax icons" data-icon="package"></i>
</a>
<div class="shipping-details">
<div class="shipping-info">
<h4>Regular</h4>
<h5>Estimated Arrival, Mar 20-22</h5>
</div>
<div class="price">
<div class="form-check form-check-reverse">
<label class="form-check-label" for="radio2">$15</label>
<input checked="" class="form-check-input" id="radio2" name="exampleRadio" type="radio" value="option2"/>
</div>
</div>
</div>
</div>
</div>
<div class="col-12">
<div class="shipping-box">
<a href="#">
<i class="iconsax icons" data-icon="truck"></i>
</a>
<div class="shipping-details">
<div class="shipping-info">
<h4>Cargo</h4>
<h5>Estimated Arrival, Mar 19-20</h5>
</div>
<div class="price">
<div class="form-check form-check-reverse">
<label class="form-check-label" for="radio3">$20</label>
<input class="form-check-input" id="radio3" name="exampleRadio" type="radio" value="option3"/>
</div>
</div>
</div>
</div>
</div>
<div class="col-12">
<div class="shipping-box">
<a href="#">
<i class="iconsax icons" data-icon="truck-fast"></i>
</a>
<div class="shipping-details">
<div class="shipping-info">
<h4>Express</h4>
<h5>Estimated Arrival, Mar 18-19</h5>
</div>
<div class="price">
<div class="form-check form-check-reverse">
<label class="form-check-label" for="radio4">$30</label>
<input class="form-check-input" id="radio4" name="exampleRadio" type="radio" value="option2"/>
</div>
</div>
</div>
</div>
</div>
</div>
<a class="btn theme-btn w-100 shipping" href="/checkout">apply</a>
</div>
</section>
 shipping section end 
 iconsax js 

 bootstrap js 

 script js 

