
 header start 
<header class="section-t-space">
<div class="custom-container">
<div class="header-panel">
<a href="/checkout">
<i class="iconsax back-btn" data-icon="arrow-left"></i>
</a>
<h3>Shipping Details</h3>
</div>
</div>
</header>
 header end 
 shipping details section start 
<section class="shipping-details-sec">
<div class="custom-container">
<ul class="address-list">
<li>
<div class="shipping-address">
<div class="d-flex align-items-center justify-content-between">
<div class="form-check">
<input checked="" class="form-check-input" id="radio1" name="flexRadio1" type="radio"/>
<label class="form-check-label" for="radio1">Home</label>
</div>
<div class="options">
<a href="/new-address">
<i class="iconsax icons" data-icon="edit-2"></i>
</a>
<a href="#">
<i class="iconsax icons" data-icon="trash"></i>
</a>
</div>
</div>
<div class="address-details">
<p>3501 Maloy Court, East Emhurst, New York City, NY 11369</p>
<h5 class="content-number">Phone no. : <span> 78596 0000</span></h5>
</div>
</div>
</li>
<li>
<div class="shipping-address">
<div class="d-flex align-items-center justify-content-between">
<div class="form-check">
<input class="form-check-input" id="radio2" name="flexRadio1" type="radio"/>
<label class="form-check-label" for="radio2">Office</label>
</div>
<div class="options">
<a href="/new-address">
<i class="iconsax icons" data-icon="edit-2"></i>
</a>
<a href="#">
<i class="iconsax icons" data-icon="trash"></i>
</a>
</div>
</div>
<div class="address-details">
<p>8502-8503 Preston Rd. Inglewood Street, Maine 98380</p>
<h5 class="content-number">Phone no. : <span> 12100 0023</span></h5>
</div>
</div>
</li>
</ul>
<a class="btn gray-btn w-100" href="/new-address">+ Add New Address</a>
<div class="apply-btn">
<a class="btn theme-btn w-100" href="/payment">apply</a>
</div>
</div>
</section>
 shipping details section end 
 panel-space start 
<section class="panel-space"></section>
 panel-space end 
 iconsax js 

 bootstrap js 

 script js 

