
 header start 
<header class="section-t-space">
<div class="custom-container">
<div class="header-panel">
<a href="/categories">
<i class="iconsax back-btn" data-icon="arrow-left"></i>
</a>
<h3>Chairs</h3>
<a class="notification" href="/notification">
<i class="iconsax notification-icon" data-icon="bell-2"></i>
</a>
</div>
</div>
</header>
 header end 
 search section starts 
<section>
<div class="custom-container">
<form class="theme-form search-head" target="_blank">
<div class="form-group">
<div class="form-input">
<input class="form-control search" id="inputusername" placeholder="Search here..." type="text"/>
<i class="iconsax search-icon" data-icon="search-normal-2"></i>
</div>
</div>
</form>
</div>
</section>
 search section end 
 shop section start 
<section class="section-b-space">
<div class="custom-container">
<div class="row g-3">
<div class="col-6">
<div class="product-box">
<div class="product-box-img">
<a href="/product-details"> <img alt="p1" class="img" src="/assets/images/product/1.png"/></a>
<div class="cart-box">
<a class="cart-bag" href="/cart">
<i class="iconsax bag" data-icon="basket-2"></i>
</a>
</div>
</div>
<div class="product-box-detail">
<h4>Buddy Chair</h4>
<h5>Modern saddle arms</h5>
<div class="bottom-panel">
<div class="price">
<h4>$14 <del class="pev-price">$20</del></h4>
</div>
<div class="rating">
<img alt="star" src="/assets/images/svg/Star.svg"/>
<h6>4.5</h6>
</div>
</div>
</div>
</div>
</div>
<div class="col-6">
<div class="product-box">
<div class="product-box-img">
<a href="/product-details"> <img alt="p2" class="img" src="/assets/images/product/2.png"/></a>
<div class="cart-box">
<a class="cart-bag" href="/cart">
<i class="iconsax bag" data-icon="basket-2"></i>
</a>
</div>
</div>
<div class="product-box-detail">
<h4>Wingback Chair</h4>
<h5>Modern saddle arms</h5>
<div class="bottom-panel">
<div class="price">
<h4>$15 <del class="pev-price">$18</del></h4>
</div>
<div class="rating">
<img alt="star" src="/assets/images/svg/Star.svg"/>
<h6>4.5</h6>
</div>
</div>
</div>
</div>
</div>
<div class="col-6">
<div class="product-box">
<div class="product-box-img">
<a href="/product-details"> <img alt="p14" class="img" src="/assets/images/product/14.png"/></a>
<div class="cart-box">
<a class="cart-bag" href="/cart">
<i class="iconsax bag" data-icon="basket-2"></i>
</a>
</div>
</div>
<div class="product-box-detail">
<h4>Winston Chair</h4>
<h5>Modern saddle arms</h5>
<div class="bottom-panel">
<div class="price">
<h4>$20 <del class="pev-price">$22</del></h4>
</div>
<div class="rating">
<img alt="star" src="/assets/images/svg/Star.svg"/>
<h6>4.5</h6>
</div>
</div>
</div>
</div>
</div>
<div class="col-6">
<div class="product-box">
<div class="product-box-img">
<a href="/product-details"> <img alt="p15" class="img" src="/assets/images/product/15.png"/></a>
<div class="cart-box">
<a class="cart-bag" href="/cart">
<i class="iconsax bag" data-icon="basket-2"></i>
</a>
</div>
</div>
<div class="product-box-detail">
<h4>Beige Chair</h4>
<h5>Modern saddle arms</h5>
<div class="bottom-panel">
<div class="price">
<h4>$16 <del class="pev-price">$21</del></h4>
</div>
<div class="rating">
<img alt="star" src="/assets/images/svg/Star.svg"/>
<h6>4.5</h6>
</div>
</div>
</div>
</div>
</div>
<div class="col-6">
<div class="product-box">
<div class="product-box-img">
<a href="/product-details"> <img alt="p16" class="img" src="/assets/images/product/16.png"/></a>
<div class="cart-box">
<a class="cart-bag" href="/cart">
<i class="iconsax bag" data-icon="basket-2"></i>
</a>
</div>
</div>
<div class="product-box-detail">
<h4>Dining Chair</h4>
<h5>Modern saddle arms</h5>
<div class="bottom-panel">
<div class="price">
<h4>$12 <del class="pev-price">$15</del></h4>
</div>
<div class="rating">
<img alt="star" src="/assets/images/svg/Star.svg"/>
<h6>4.5</h6>
</div>
</div>
</div>
</div>
</div>
<div class="col-6">
<div class="product-box">
<div class="product-box-img">
<a href="/product-details">
<img alt="p17" class="img" src="/assets/images/product/17.png"/>
</a>
<div class="cart-box">
<a class="cart-bag" href="/cart">
<i class="iconsax bag" data-icon="basket-2"></i>
</a>
</div>
</div>
<div class="product-box-detail">
<h4>Harbour Chair</h4>
<h5>Modern saddle arms</h5>
<div class="bottom-panel">
<div class="price">
<h4>$17 <del class="pev-price">$23</del></h4>
</div>
<div class="rating">
<img alt="star" src="/assets/images/svg/Star.svg"/>
<h6>4.5</h6>
</div>
</div>
</div>
</div>
</div>
</div>
</div>
</section>
 shop section end 
 iconsax js 

 bootstrap js 

 script js 

