
 header start 
<header class="section-t-space">
<div class="custom-container">
<div class="header-panel">
<a href="/profile">
<i class="iconsax back-btn" data-icon="arrow-left"></i>
</a>
<h3>Wishlist</h3>
</div>
</div>
</header>
 header end 
 wishlist section start 
<section>
<div class="custom-container">
<div class="row g-3">
<div class="col-12">
<div class="horizontal-product-box">
<a class="horizontal-product-img" href="#">
<img alt="p18" class="img-fluid img" src="/assets/images/product/18.png"/>
</a>
<div class="horizontal-product-details">
<div class="d-flex align-items-center justify-content-between">
<h4>Shiny wooden Chair</h4>
<button class="close-button">
<i class="iconsax" data-icon="add"></i>
</button>
</div>
<h5>Qty:1</h5>
<div class="d-flex align-items-center justify-content-between mt-3">
<div class="d-flex align-items-center gap-2">
<h3 class="fw-semibold">$130 <del class="light-text fw-normal">$160</del></h3>
</div>
<a class="cart-bag" href="#">
<i class="iconsax bag" data-icon="basket-2"></i>
</a>
</div>
</div>
</div>
</div>
<div class="col-12">
<div class="horizontal-product-box">
<a class="horizontal-product-img" href="#">
<img alt="p19" class="img-fluid img" src="/assets/images/product/19.png"/>
</a>
<div class="horizontal-product-details">
<div class="d-flex align-items-center justify-content-between">
<h4>Bedroom Lamp</h4>
<button class="close-button">
<i class="iconsax" data-icon="add"></i>
</button>
</div>
<h5>Qty:1</h5>
<div class="d-flex align-items-center justify-content-between mt-3">
<div class="d-flex align-items-center gap-2">
<h3 class="fw-semibold">$30 <del class="light-text fw-normal">$60</del></h3>
</div>
<a class="cart-bag" href="#">
<i class="iconsax bag" data-icon="basket-2"></i>
</a>
</div>
</div>
</div>
</div>
<div class="col-12">
<div class="horizontal-product-box">
<a class="horizontal-product-img" href="#">
<img alt="p20" class="img-fluid img" src="/assets/images/product/20.png"/>
</a>
<div class="horizontal-product-details">
<div class="d-flex align-items-center justify-content-between">
<h4>Marble Flower Vase</h4>
<button class="close-button">
<i class="iconsax" data-icon="add"></i>
</button>
</div>
<h5>Qty:1</h5>
<div class="d-flex align-items-center justify-content-between mt-3">
<div class="d-flex align-items-center gap-2">
<h3 class="fw-semibold">$50 <del class="light-text fw-normal">$80</del></h3>
</div>
<a class="cart-bag" href="#">
<i class="iconsax bag" data-icon="basket-2"></i>
</a>
</div>
</div>
</div>
</div>
</div>
</div>
</section>
 wishlist section end 
 panel-space start 
<section class="panel-space"></section>
 panel-space end 
 bottom navbar start 
<div class="navbar-menu">
<ul>
<li>
<a href="/landing">
<div class="icon">
<img alt="home" class="unactive" src="/assets/images/svg/home.svg"/>
<img alt="home" class="active" src="/assets/images/svg/home-fill.svg"/>
</div>
</a>
</li>
<li>
<a href="/categories">
<div class="icon">
<img alt="categories" class="unactive" src="/assets/images/svg/categories.svg"/>
<img alt="categories" class="active" src="/assets/images/svg/categories-fill.svg"/>
</div>
</a>
</li>
<li>
<a href="/cart">
<div class="icon">
<img alt="bag" class="unactive" src="/assets/images/svg/bag.svg"/>
<img alt="bag" class="active" src="/assets/images/svg/bag-fill.svg"/>
</div>
</a>
</li>
<li class="active">
<a href="/wishlist">
<div class="icon">
<img alt="heart" class="unactive" src="/assets/images/svg/heart.svg"/>
<img alt="heart" class="active" src="/assets/images/svg/heart-fill.svg"/>
</div>
</a>
</li>
<li>
<a href="/profile">
<div class="icon">
<img alt="profile" class="unactive" src="/assets/images/svg/profile.svg"/>
<img alt="profile" class="active" src="/assets/images/svg/profile-fill.svg"/>
</div>
</a>
</li>
</ul>
</div>
 bottom navbar end 
 iconsax js 

 bootstrap js 

 script js 

